<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.labadmin">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lab Admin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LabAdmin">

        <activity
            android:name=".RoleSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LabAdminDashboardActivity" android:exported="false" />
        <activity android:name=".HallInchargeDashboardActivity" android:exported="false" />
        <activity android:name=".PendingRequestsActivity" android:exported="false" />
        <activity android:name=".RequestDetailsActivity" android:exported="false" />
        <activity android:name=".LiveStatusActivity" android:exported="false" />
        <activity android:name=".ViewScheduleActivity" android:exported="false" />
        <activity android:name=".ApprovalHistoryActivity" android:exported="false" />
        <activity android:name=".HallListActivity" android:exported="false" />
        <activity android:name=".HallDetailsActivity" android:exported="false" />
        <activity android:name=".EditHallActivity" android:exported="false" />
        <activity android:name=".ReassignActivity" android:exported="false" />
        <activity android:name=".ReportIssueActivity" android:exported="false" />
        <activity android:name=".AssignedSessionDetailsActivity" android:exported="false" />
        <activity android:name=".UploadPhotoActivity" android:exported="false" />

    </application>

</manifest>