<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LabManagementUI">
        <activity
            android:name=".AdminDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".LabAdminsHomeActivity"
            android:exported="false" />
        <activity
            android:name=".AdminScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAdminsActivity"
            android:exported="false" />
        <activity
            android:name=".LabCompletedRequestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".LabLiveStatusActivity"
            android:exported="false" />
        <activity
            android:name=".LabDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ApprovalHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".LorViewerActivity"
            android:exported="false" />
        <activity
            android:name=".RequestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PendingRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewScheduleActivity"
            android:exported="false" />
        <!-- STAFF DASHBOARD (LAUNCHER) -->
        <activity
            android:name=".StaffDashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- WORKSPACE -->
        <activity
            android:name=".WorkspaceStaffInchargeActivity"
            android:exported="false" />
    </application>

</manifest>